body {
    margin: auto;
    padding: auto;
    background-color: #FFFFFF;
}

header {
    background-color: #FFFFFF;
    display: flex;
    height: 60px;
    width: 100%;
}

main {
    padding: 0px;
    display: flex;

}
