.blog {
  background-color: #F9F9F9;
  height: 250px;
  padding: 100px;

  .container-blog {
    text-align: center;
    margin: 0px;

    h2 {
      color: #0B132A;
    }
  }
  .news {
    // display: inline-block;
    //background-color: blue;
    #bloco {
      display: inline-block;
      margin: 0px 32px;
      padding: 10px;
      border: 1px solid #F53838;
      border-radius: 10px;
      background-color: #FFFFFF;

      img{
          height: 80px;
      }

      #info-bloco {
        display: inline-block;

        p{
            margin: 5px 5px;
        }
      }
    }
  }
}
