.blog {
  background-color: #F9F9F9;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  .container-blog {
    text-align: center;
    margin: 20px 0px;
    h2 {
      color: #0B132A;
    }
  }
  .news {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    #bloco {
      background-color: #FFFFFF;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      padding: 10px;
      img{
          height: 80px;
      }
      #info-bloco {
        display: flex;
        flex-direction: column;
        padding: 8px;
        p{
            margin: 5px 5px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .blog{
    .news{
      flex-direction: column;
      #bloco{
        margin: 15px 0px;
      }
    }
  }
}
