.sc-features {
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-features {
    display: flex;
    width: 70%;
    margin: 69px 100px;
    padding: 50px 25px;
    justify-content: space-around;
    align-items: center;
    .img-features {
      display: flex;
      align-items: center;
      img{
        height: 250px;
      }
    }
    .txt-features {
      color: #0b132a;
      h2 {
        font-size: 35px;
        margin: 0px;
      }
      p {
        font-size: 15px;
        margin: 10px 0px;
        color: #4F5665;
      }
      .check {
        #check-2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          p {
            display: inline-block;
            font-size: 13px;
            color: #4F5665;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
