.sc-features {
    background-color: black;
    margin: 100px;

    .banner-features {
        background-color: black;

        .img-features{
            background-color: yellow;
        }
    
        .txt-features{
            color: yellow;
        }
    }
}
