h1 {
    color: #7C7C7C;
    margin: 10px;
    padding-left: 150px;
    cursor: pointer;
    
    &:hover{
        color: #F53838;
    }

}
.nav-menu {
    width: 100%;
    padding-right: 150px;
    cursor: pointer;
    ul {
        display: flex;
        float: right;
        margin-right: 10px;
        li {
            list-style-type: none;
            padding-right: 10px;
            text-transform: uppercase;
            margin-top: 10px;
            align-items: center;

            a {
                text-decoration: none;
                color: #7C7C7C;
                font-style: bold;

                &:hover{
                   color: #F53838;
                }
            }
        }
    }
}
