.subs {
  background-color: #f9f9f9;
  height: 350px;
  align-items: center;

  .info-subs {
    background-color: #ffffff;
    margin: 0px 180px;
    height: 200px;
    width: 73%;
    border: 0px solid black;
    border-radius: 10px;
    display: table;
    align-items: center;

    .info-txt {
      padding-top: 25px;
      width: 400px;
      display: table-cell;
      text-align: center;

      h2 {
        color: #0b132a;
        margin-top: 30px;
      }
      p {
        color: #91959f;
      }
    }

    .area-txt {
      width: 400px;
      display: table-cell;
     // text-align: center;

      input {
        height: 30px;
        border-radius: 10px;
        border: 1px solid #909090;
        background-color: #ffffff;
        text-align: center;
      }
      button {
        height: 30px;
        width: 150px;
        align-items: center;
        border: 2px;
        border-radius: 5px;
        background-color: #f53838;
        box-shadow: 1px 5px 5px #f39393;
        cursor: pointer;

        p {
          font-size: 15px;
          margin: 0;
          padding: 0;
          color: #fff;
        }
        &:hover {
          background-color: #0b132a;
          transition: 1s;
          height: 30px;
          width: 165px;
        }
      }
    }
  }
}
