.subs {
  background-color: #f9f9f9;
  padding: 50px 0px;
  align-items: center;
  //border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;

  .info-subs {
    background-color: #ffffff;
    height: 220px;
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .info-txt {
      text-align: center;
      h2 {
        color: #0b132a;
        margin-top: 30px;
      }
      p {
        color: #91959f;
      }
    }
    .area-txt {
      input {
        height: 30px;
        width: 300px;
        border-radius: 10px;
        border: 1px solid #909090;
        background-color: #ffffff;
        text-align: center;
      }
      button {
        height: 30px;
        width: 150px;
        align-items: center;
        border: 2px;
        border-radius: 5px;
        background-color: #f53838;
        box-shadow: 1px 5px 5px #f39393;
        cursor: pointer;
        transition: 1.2s;
        p {
          font-size: 15px;
          margin: 0;
          padding: 0;
          color: #fff;
        }
        &:hover {
          background-color: #0b132a;
          transition: 1s;
          height: 30px;
          width: 165px;
        }
      }
    }
  }
}


@media (max-width: 820px) {
  .subs{
    .info-subs{
      flex-direction: column;
    }
  }
}